# Your project id from your paragon account;
PROJECT_ID=""

# The signing key to authenticate your account.
# Either SIGNING_KEY or SIGNING_KEY_PATH needs to be set
# SIGNING_KEY is the signing key as a string with "\n" for newlines
# SIGNING_KEY_PATH is the absolute path to the signing key file
SIGNING_KEY=""
SIGNING_KEY_PATH=""

# The url of where your MCP Server will be hosted
# This will be used to generate the magic links for your users
# And also to setup your AI agents
MCP_SERVER_URL=""

# The node environment: "development" or "production" - use "development" to enable logs;
NODE_ENV="production"

# Optional features:
ENABLE_CUSTOM_OPENAPI_ACTIONS=false
ENABLE_PROXY_API_TOOL=false
ENABLE_CUSTOM_TOOL=false

# Uncomment and update if using an on-premise Paragon instance
# ACTIONKIT_BASE_URL="https://worker-actionkit.your-paragon-instance.url"
# CONNECT_SDK_CDN_URL="https://connect.your-paragon-instance.url/ui/scripts/sdk.js"
# ZEUS_BASE_URL="https://zeus.your-paragon-instance.url"
# PROXY_BASE_URL="http://worker-proxy.your-paragon-instance.url"

# Uncomment for internal development:
# ACTIONKIT_BASE_URL="http://localhost:1721"
# CONNECT_SDK_CDN_URL="http://localhost:4060/ui/scripts/sdk.js"
# ZEUS_BASE_URL="http://localhost:4010"
# PROXY_BASE_URL="http://localhost:1715"

# Uncomment to limit available tools to specific integrations and/or specific tools
# LIMIT_TO_INTEGRATIONS=hubspot,salesforce,custom.spotify
# LIMIT_TO_TOOLS=SLACK_SEND_MESSAGE,GOOGLE_DRIVE_LIST_FILES
