# Your project id from your paragon account;
PROJECT_ID=""

# The signing key to authenticate your account.
# Either SIGNING_KEY or SIGNING_KEY_PATH needs to be set
# SIGNING_KEY is the signing key as a string with "\n" for newlines
# SIGNING_KEY_PATH is the absolute path to the signing key file
SIGNING_KEY=""
SIGNING_KEY_PATH=""

# The url of where your MCP Server will be hosted
# This will be used to generate the magic links for your users
# And also to setup your AI agents
MCP_SERVER_URL=""

# The node environment: "development" or "production" - use "development" to enable logs;
NODE_ENV="production"

# Optional features:
ENABLE_CUSTOM_OPENAPI_ACTIONS=false
ENABLE_PROXY_API_TOOL=false

# Uncomment and update if using an on-premise Paragon instance
# ACTION_KIT_BASE_URL="http://localhost:1721"
# CONNECT_SDK_CDN_URL="http://localhost:4060/ui/scripts/sdk.js"

# Uncomment to limit available tools to specific integrations
# LIMIT_TO_INTEGRATIONS=hubspot,salesforce,custom.spotify